

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('UC_Merced_at_night.jpg'); /* Path to your image */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
}

header {
    background-color: #f0f0f0; /* Background color for navigation */
    padding: 10px 0; /* Add some padding */
    border-radius: 10px; /* Add rounded corners */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Link color */
}

.login-cont {
    background-color: rgba(255, 200, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px; /* Add some space between navigation and login box */
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}


input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"], button.create-account {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    margin:3px;
}

button.create-account {
    background-color: #28a745;
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button.create-account:hover {
    background-color: #218838;
}
