<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Courses</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>All Courses</h1>
    {% if message%}
        {{message}}
    {% endif%}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Teacher</th>
                <th>Time</th>
                <th>Current Students</th>
                <th>Capacity</th>
                <th>Enroll in Course</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.teacher }}</td>
                <td>{{ course.time }}</td>
                <td>{{ course.current_students }}</td>
                <td>{{ course.capacity }}</td>
                <td> <!-- Grabs the course ID associated when you press enroll, to add to student -->
                    <form action="/enroll_course" method="POST">
                    <input type="hidden" name="course_id" value="{{course.id}}">
                    <button type="submit">Enroll</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
