<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Management System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='web.css') }}">
    <script src="{{ url_for('static', filename='loginP.js') }}"></script>
</head>
<body>
    <div class="container"> <!-- Added container div -->
        <!-- <header>
            <nav>
                <ul>
                    Navigation links can go here if needed
                </ul>
            </nav>
        </header> -->
        
        <div class="login-cont">
            <h2>Welcome to Convas</h2>
            <form action="/login" method="post">
                <label for="username">Name:</label>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br> <!-- Changed input type to password -->
                <button type="submit">Log In</button>
            </form>
            <button onclick="window.location.href='/register'">Create Account</button>
        </div>
    </div>
</body>
</html>
